{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Burbur", "Covcov", "Dopdop", "Fimfim", "Gaxgax", "Hofhof", "Jipjip", "Kuzkuz",
	  "Lutlut", "Mohmoh", "Nusnus", "Pacpac", "Reirei", "Sigsig", "Tawtaw", "Vinvin", "Womwom", "Yebyeb", "Zarzar" ]
    ]
  ]
}
