{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ "Lux", "Lum", "Luc", "Phot", "Amb", "Elec", "Elect", "El", "Sol", "Tel", "Thor", "Ton", "Tar", "Nimb", "Not", "Mal", "Aur" ],
      [ "", "", "", "", "", [ "r", "ral", "l", "n", "res", "ach" ] ],
      [ "io", "ion", "eon", "aia", "en", "in", "an", "ar", "iar", "i", "o", "esce", "ance", "ane", "anne", "us", "ic", "at", "ay" ]
    ]
  ]
}
