{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ "Lux", "Lum", "Luc", "Phot", "Amb", "Elec", "Elect", "El", "Sol", "Tel", "Thor", "Ton", "Tar", "Nimb" ],
      [ "", "", "", "", "", [ "r", "ral", "l", "n", "ren" ] ],
	    [ "io", "ion", "eon", "ano", "en", "in", "on", "or", "ior", "i", "o", "esce", "ence", "ene", "anis", "us", "ic" ]
    ]
  ]
}
