{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Belbel", "Camcam", "Dundun", "Fenfen", "Girgir", "Habhab", "Jotjot", "Kifkif",
	  "Lonlon", "Maymay", "Nizniz", "Pelpel", "Rehreh", "Sumsum", "Tixtix", "Vuzvuz", "Wanwan", "Yooyoo", "Zikzik" ]
    ]
  ]
}
