{
	"partImages" : {
		"body" : "/humanoid/luxio/femalebody.png",
		"body_fullbright" : "/humanoid/luxio/femalebody_fullbright.png",
		"frontarms" : "/humanoid/luxio/frontarm.png",
		"backarms" : "/humanoid/luxio/backarm.png",
		"frontarms_rotation" : "/humanoid/luxio/frontarm.png",
		"backarms_rotation" : "/humanoid/luxio/backarm.png",
		"head" : "/humanoid/luxio/femalehead.png"

	},
	"idle" : {
		"body" : "idle",
		"arms" : "idle",
		"head" : "idle"
	},
	"sit" : {
		"body" : "sit",
		"arms" : "sit"
	},
	"lay" : {
		"body" : "lay",
		"arms" : "lay"
	},
	"duck" : {
		"body" : "duck",
		"arms" : "duck"
	},
	"walk" : {
		"body" : "walk",
		"arms" : "walk"
	},
	"run" : {
		"body" : "run",
		"arms" : "run"
	},
	"jump" : {
		"body" : "jump",
		"arms" : "jump"
	},
	"fall" : {
		"body" : "fall",
		"arms" : "fall"
	},
	"swim" : {
		"body" : "swim",
		"arms" : "swim"
	},
	"swimIdle" : {
		"body" : "swimidle",
		"arms" : "swimidle"
	},
	"randomIdle" : {

	}

}
