{
	"partImages" : {
		"body" : "/humanoid/luxio/speciesAnimationOverride/female/body.png",
		"body_fullbright" : "/humanoid/luxio/speciesAnimationOverride/female/fullbright/body.png",
		"frontarms" : "/humanoid/luxio/speciesAnimationOverride/default/backarm.png",
		"backarms" : "/humanoid/luxio/speciesAnimationOverride/default/frontarm.png",
		"frontarms_rotation" : "/humanoid/luxio/speciesAnimationOverride/default/backarm.png",
		"backarms_rotation" : "/humanoid/luxio/speciesAnimationOverride/default/frontarm.png",
		"head" : "/humanoid/luxio/speciesAnimationOverride/female/head.png",
		"hair" : "/humanoid/luxio/speciesAnimationOverride/female/hair/1.png",
		"emote" : "/humanoid/luxio/speciesAnimationOverride/default/emote.png"
	},
	"animations" : {
		"idle" : {
			"body" : "idle",
			"arms" : "idle"
		},
		"sit" : {
			"body" : "sit",
			"arms" : "sit"
		},
		"lay" : {
			"body" : "lay",
			"arms" : "lay"
		},
		"duck" : {
			"body" : "duck",
			"arms" : "duck"
		},
		"walk" : {
			"body" : "walk",
			"arms" : "walk"
		},
		"run" : {
			"body" : "run",
			"arms" : "run"
		},
		"jump" : {
			"body" : "jump",
			"arms" : "jump"
		},
		"fall" : {
			"body" : "fall",
			"arms" : "fall"
		},
		"swim" : {
			"body" : "swim",
			"arms" : "swim"
		},
		"swimIdle" : {
			"body" : "swimidle",
			"arms" : "swimidle"
		}
	},
	"randomIdle" : {

	}

}
